@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #e8eaeb;
}

input{
    border-radius: 7px;
    border: 1px solid black;
}

.btn{
    background-color: #00a2ff ;
    border: 1px solid #00a2ff;
    border-radius: 7px;
    color: #fff;
    transition: 0.5s;
}

.btn:hover{
    transition: 0.5s;
    background-color: grey;
    border: 1px solid grey;
    box-shadow: -2px 0px 8px 3px grey;
}

.card_container{
    height: 240px;
    width: 450px;
    padding: 20px 20px;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 12px;
    background-color: white;
}

.airline-logo{
    border-radius: 50px;
}

.airline_name{
    margin: 5px 15px;
}

.flight_time{
    margin: 0px 0px;
    color: grey;
}


.origin_to_destination_text{
    margin-left: 90px;
}

.airline-name-container{
    display: inline-flex;
}


h2{
    font-size: 15px;
}

.roboto-mono{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
