@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #e8eaeb;
}

input{
    border-radius: 7px;
    border: 1px solid black;
}

.btn{
    background-color: #00a2ff ;
    border: 1px solid #00a2ff;
    border-radius: 7px;
    color: #fff;
    transition: 0.5s;
}

.btn:hover{
    transition: 0.5s;
    background-color: grey;
    border: 1px solid grey;
    box-shadow: -2px 0px 8px 3px grey;
}

.main_card_container{
    margin: 10px 0px;
}

.card_container{
    height: 280px;
    width: 400px;
    padding: 20px 20px;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 12px;
    background-color: white;
}

.airport_origin_info{
    margin: 0 75px;
    position: absolute;
}

.destination_time_info::before{
    content: "";
    z-index: 1;
    box-sizing: content-box;
    content: "";
    border: 4px solid grey;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    margin: 11px -20px;
}

.airport_destination_info{
    margin: 0 75px;
    position: absolute;
}

.airline-logo{
    border-radius: 50px;
}

.airline_name{
    margin: 5px 15px;
}

.flight_time{
    margin: 0px 0px;
    color: grey;
}

.city_code{
    color: grey;
}


.origin_to_destination_text{
    margin-left: 90px;
}

.origin_time_info::before{
    content: "";
    z-index: 1;
    box-sizing: content-box;
    content: "";
    border: 4px solid grey;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    margin: 11px -20px;
}

.origin_time_info{
    margin: 0px 10px;
}

.destination_time_info{
    margin: 0px 10px;
}


.airline-name-container{
    display: inline-flex;
}


h2{
    font-size: 15px;
}

.roboto-mono{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
