@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container{
    width: 100%;
    height: 150px;
    border: 1px solid #00BFFF;
    background-color: #00BFFF;
}

.personal-account-link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}