{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/flight_list_style.css" %}">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <div class="main_container">
        <div class="flight_grid">
            <div class="flight_card">     
                {% if flights %}
                {% for i in flights %}
                <a href="{% url "flight" i.id %}">
                <p>Авиакомпания: {{i.airline}}</p> 
                {% if i.airline.logo %}
                <img src="{{i.airline.logo.url}}" class="logo_img_card" width="100px" height="30px">
                {% else %}
                <p>Логотип компании отсутствует</p>
                {% endif %}
                <p>Город вылета/прилета: {{i.origin}} - {{i.destination}}</p>
                <p>Время вылета/прилета: {{i.departure_time}} - {{i.arrival_time}}</p>
                <p>Цена билета: {{i.price}}</p>
                <p>Количество пересадок: {{i.transfers}}</p>
                {% endfor %}
                {% else %}
                <p>Рейсов сейчас нет</p>
                {% endif %}'
                <a>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>