{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/header_style.css" %}">
    <link rel="stylesheet" href="{% static "css/flight_card_style.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="header_container">
        <div class="personal-account-link-container">
            <div class="link_container">
                <div class="account-link-container">
                    <img src="{% static "images/icons8-человек-64.png" %}" class="personal-account-img"> 
                    <a href="{% url "profile_view" %}" class="personal-account-link">Профиль</a>
                </div>
                <div class="support-link-container">
                    <img src="{% static "images/icons8-поддержка-64.png" %}" class="support-img">
                    <a href="#" class="support-link">Поддержка</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card_container">
        <div class="airline-name-container">
            <img src="{{flight.airline.logo.url}}" width="50px" height="50px" class="airline-logo">
            <h2 class="airline_name">{{flight.airline}}</h2>
            <h5 class="flight_time">{{flight.flight_time}} в полете</h5>
        </div>
        <div class="main_card_container">
            <h2 class="origin_text">{{flight.departure_time|time:"H:i"}} {{flight.origin}}</h2>
            <h2>{{flight.departure_time|date:"d M"}}</h2>
            <h2 class="origin_to_destination_text">&darr;</h2>
            <h2 class="destination_text">{{flight.arrival_time|time:"H:i"}} {{flight.destination}}</h2>
            <h2>{{flight.arrival_time|date:"d M"}}</h2>
            <h2>{{flight.transfers}}</h2>
            <h2>{{flight.price}}</h2>
            <button class="roboto-mono btn">Купить</button>
        </div>
    </div>

    <div class="buy_flight_form_container">
            <form method="post">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% for field in form %}
            <div class="mb-4">
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit" class="roboto-mono btn" id="btn-send" onclick="alert("Форма отправлена")">Подтвердить</button>
        </form>
    </div>


    <script>
        const btn = document.getElementById("btn-send"); btn.onclick = function() {alert("Форма отправлена");};
    </script>
</body> 
</html>