{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/header_style.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="header_container">
        <div class="personal-account-link-container">
            <div class="link_container">
                <div class="account-link-container">
                    <img src="{% static "images/icons8-человек-64.png" %}" class="personal-account-img"> 
                    <a href="#" class="personal-account-link">Профиль</a>
                </div>
                <div class="support-link-container">
                    <img src="{% static "images/icons8-поддержка-64.png" %}" class="support-img">
                    <a href="#" class="support-link">Поддержка</a>
                </div>
            </div>
            <h1 class="h1-text oswald">Тут покупают авиабилеты</h1>
            <form method="get" class="search-form">
                {{ form.as_p }}
                <button type="submit" class="btn search_btn">Найти</button>
            </form>
        </div>
    </div>
</body>
</html>